/* 公共class */
.clear:after{
	content:'';
	display:block;
	clear:both;
}
.clear{
	zoom:1;
}
.fl{ 
	float:left;
}
.fr{ 
	float:right;
}

/* 公共样式 */
html, body {
  margin: 0;
	padding: 0;
	width: 100%;
  height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 14px;
}

body {
	background: #FAFAFA;
}